<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      IDIEXPERSS
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar search-icon="search-circle" placeholder="Rechercher"></ion-searchbar>
</ion-header>
<div class="action">

</div>
<ion-content>
  <ion-list >
    <ion-item >
          <ion-avatar item-left>
            <img src="">
          </ion-avatar>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
        <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card>
      </ion-item>
      <ion-item >
        <ion-avatar item-left>
          <img src="">
        </ion-avatar>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item >
      <ion-avatar item-left>
        <img src="">
      </ion-avatar>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
  </ion-item>


  </ion-list>
</ion-content>
